In [10]:
DELETE FROM dbo.choices WHERE question_id =1005;

In [38]:
DELETE FROM dbo.questions WHERE question_id =62;

In [46]:
DELETE FROM dbo.choices;
DELETE FROM questions;
DELETE FROM passages;
DELETE FROM worksheets;
DELETE FROM users;

In [51]:

-- Drop the existing foreign key constraint
ALTER TABLE passages 
DROP CONSTRAINT fk_passage_worksheet;

-- Add a new foreign key constraint with ON DELETE CASCADE and ON UPDATE CASCADE
ALTER TABLE passages
ADD CONSTRAINT fk_passage_worksheet
FOREIGN KEY (worksheet_id)
REFERENCES worksheets (worksheet_id)
ON DELETE CASCADE
ON UPDATE CASCADE;

In [5]:
SELECT p.* FROM passages p WHERE p.worksheet_id= 6;

passage_id,worksheet_id,passage,title
5,6,"In the 16th century, an age of great marine and terrestrial exploration, Ferdinand Magellan led the first expedition to sail around the world. As a young Portuguese noble, he served the king of Portugal, but he became involved in the quagmire of political intrigue at court and lost the king’s favor. After he was dismissed from service by the king of Portugal, he offered to serve the future Emperor Charles V of Spain. A papal decree of 1493 had assigned all land in the New World west of 50 degrees W longitude to Spain and all the land east of that line to Portugal. Magellan offered to prove that the East Indies fell under Spanish authority. On September 20, 1519, Magellan set sail from Spain with five ships. More than a year later, one of these ships was exploring the topography of South America in search of a water route across the continent. This ship sank, but the remaining four ships searched along the southern peninsula of South America. Finally they found the passage they sought near 50 degrees S latitude. Magellan named this passage the Strait of All Saints, but today it is known as the Strait of Magellan. One ship deserted while in this passage and returned to Spain, so fewer sailors were privileged to gaze at that first panorama of the Pacific Ocean. Those who remained crossed the meridian now known as the International Date Line in the early spring of 1521 after 98 days on the Pacific Ocean. During those long days at sea, many of Magellan’s men died of starvation and disease. Later, Magellan became involved in an insular conflict in the Philippines and was killed in a tribal battle. Only one ship and 17 sailors under the command of the Basque navigator Elcano survived to complete the westward journey to Spain and thus prove once and for all that the world is round, with no precipice at the edge.",PHILIPPINES